.button {
    display: flex;
    align-items: center;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    padding: 0.7em 1.4em 0.7em 1.1em;
    color: white;
    background: linear-gradient(0deg, #14a73e 0%, hsl(125, 90%, 68%) 100%);
    border: none;
    letter-spacing: 0.05em;
    border-radius: 20em;

    &::after {
        content: "Agregar al carrito"
    }

    &:hover {
        box-shadow: 0 0.5em 1.5em -0.5em hsla(137, 79%, 37%, 0.596);
    }

    &:active {
        box-shadow: 0 0.3em 1em -0.5em #14a73e98;

        &::after {
            content: "Agregado correctamente!";
        }
    }
}


.carritoBtn{
    position: fixed;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background: linear-gradient(0deg, #14a73e 0%, #66f771 100%);
    border: none;
    margin: 5px;
    right: 0;
    &:hover {
        box-shadow: 0 0.5em 1.5em -0.5em hsla(137, 79%, 37%, 0.596);
    }

    &:active {
        box-shadow: 0 0.3em 1em -0.5em #14a73e98;
    }

}

#cerrarCarrito{
    &::after {
        content: "X"
    }
}

#vaciarCarrito{
    bottom: 0;
    &::after {
        content: "🗑️"
    }

}

#abrirCarrito{
    position: relative;
    width: fit-content;
    height: fit-content;
    background: #0B6E4F;
    padding: 7px 25px;
    border-radius: 25px;
    color: white;
    margin: 10px;
    border: solid 1px;
    box-shadow: #00000059 0px 5px 15px;
    &::after {
        content: "Abrir Carrito"
    }
}
