.carrito{
    #carritoMain{
        background: #dee2e68a;
        width: 100%;
        position: fixed;
        bottom: 0;
        z-index: 10;
        text-align: -webkit-center;
        color: black;
        max-height: 50%;
        overflow: auto;
        #carritoItems{
            width: fit-content;
            .carritoBox{
                width: 70%;
                display: flex;
                margin-top: 20px;
                flex-direction: row-reverse;
                .carritoImg{
                    width: 8%;
                    img{
                        width: -webkit-fill-available;
                        background: white;
                        border-radius: 100px;
                        border: solid 1px;
                    }
                }
                .carritoProducto{
                    width: 85%;
                    align-self: center;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    border-bottom: solid 1px black;
                    h3, h2, strong{
                        color: black;
                    }
                    div{
                        display: flex;
                        align-items: center;
                    }
                }
            }
        }
        
        .general{
            margin: 3px;
            width: fit-content;
            h2, span{
                color: black;
            }
        }
    }
    

}