#menu-page {
    background-image: url(../media/bg.jpg);
    .header {
        padding: 15px 0;
        background-color: #0B6E4F;
        display: flex;
        justify-content: space-around;
        align-items: center;

        img {
            width: 50px;
        }

        h1 {
            font-size: 40px;
            font-family: 'Fredoka One', cursive;
        }

        #carrito {
            cursor: pointer;
        }

        div {
            display: flex;
            align-items: flex-start;

        }

        h2 {
            margin-left: 10px;
            align-self: end;
        }
    }

    .menu {
        min-height: 80vh;
        .filters_menu {
            padding: 0;
            display: flex;
            flex-wrap: wrap;
            -webkit-box-pack: center;
            justify-content: center;
            list-style-type: none;
            margin: 45px 0 20px 0;
            li {
                padding: 7px 25px;
                cursor: pointer;
                border-radius: 25px;
                color: black;
                background-color: #e9ecef;
                margin: 10px;
                border: solid 1px;
                box-shadow: #00000059 0px 5px 15px;
            }

            .active {
                background-color: #0B6E4F;
                color: #ffffff;
                box-shadow: none;
            }
        }

        .filters-content {
            .box {
                position: relative;
                margin-top: 25px;
                color: #ffffff;
                border-radius: 15px;
                overflow: hidden;
                background: linear-gradient(to bottom, #e9ecef 25px, #0B6E4F 25px);
                box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

                .img-box {
                    background: #e9ecef;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 215px;
                    border-radius: 0 0 45px 45px;

                    img {
                        max-width: 100%;
                        max-height: 100%;
                    }
                }

                .detail-box {
                    padding: 25px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
            }
        }
    }
}